@media screen and (max-width: 950px) {
  body.__lock {
    overflow: hidden;
  }

  .header {
    display: none;
  }

  .header-adaptive {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    transition: all 0.6s ease-out;
  }

  .mob-header__anim {
    background-color: #252062;
    box-shadow: 0 0 30px 5px #00000091;
  }

  .header-adaptive__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
    min-height: 74px;
  }

  .header-adaptive__logo {
    display: block;
    position: relative;
    width: 45px;
    height: 45px;
    background-image: url(../img/logo-adaptive.svg);
    background-repeat: no-repeat;
    z-index: 15;
    background-size: 100%;
    transition: 0.4s;
    filter: brightness(0.1);
  }

  .header-adaptive__logo.__active,
  .header-adaptive.mob-header__anim .header-adaptive__logo {
    filter: brightness(1);
  }

  .header-adaptive__icon {
    display: block;
    position: relative;
    width: 47px;
    height: 24px;
    z-index: 15;
    cursor: pointer;
  }

  .header-adaptive__icon > span,
  .header-adaptive__icon::before,
  .header-adaptive__icon::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgb(0, 0, 0);
    transition: 0.5s ease;
  }

  .header-adaptive__icon.__active span,
  .header-adaptive__icon.__active::before,
  .header-adaptive__icon.__active::after,
  .header-adaptive.mob-header__anim .header-adaptive__icon > span,
  .header-adaptive.mob-header__anim .header-adaptive__icon::before,
  .header-adaptive.mob-header__anim .header-adaptive__icon::after {
    background-color: rgb(255, 255, 255);
  }

  .header-adaptive__icon::before,
  .header-adaptive__icon::after {
    content: '';
  }

  .header-adaptive__icon::before {
    top: 0;
  }

  .header-adaptive__icon::after {
    bottom: 0;
  }

  .header-adaptive__icon > span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .header-adaptive__icon.__active span {
    transform: scale(0) translate(0px, -50%);
  }

  .header-adaptive__icon.__active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .header-adaptive__icon.__active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .nav-adaptive {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 100px 30px 30px 30px;
    background-color: #181542;
    transition: right 0.4s ease 0s;
    overflow: auto;
  }

  .nav-adaptive.__active {
    right: 0;
  }

  .nav-adaptive::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 74px;
    z-index: 14;
  }

  .header-adaptive.mob-header__anim .nav-adaptive::before {
    /* background-color: #252062; */
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__list-item {
    margin-bottom: 25px;
  }

  .nav__list:last-child {
    margin-bottom: 0;
  }

  .nav__list-link {
    padding-left: 0;
    font-size: 2rem;
    color: #fff;
  }
  /* title screen */

  .title-screen {
    background-image: url(../img/title-mob.jpg);
    padding: 180px 0 170px;
    height: auto;
  }

  .title-screen__description {
    padding-bottom: 80px;
  }

  /* blog */

  #blog {
    padding: 90px 0 0;
  }

  .blog__title {
    padding-bottom: 50px;
    font-size: 2.8rem;
  }

  .blog__photos {
    align-items: center;
    flex-direction: column;
  }

  .photos__left {
    margin-bottom: 40px;
  }

  .left__post {
    bottom: 0;
    max-width: 400px;
  }

  .left__wrapper-img {
    max-width: 450px;
  }

  .left__wrapper-img > img {
    width: 100%;
  }

  .left__post-description > h3 {
    font-size: 1.8rem;
  }

  .photos__right {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }

  .photos__right div:not(:last-child) {
    margin: 0 10px 0 0;
  }

  .right__first-post {
    display: none;
  }

  .second-post__info {
    bottom: 0px;
  }

  /* HELP SECTION */
  .help {
    padding: 80px 0 0;
  }

  .help > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .help__information {
    margin-bottom: 50px;
  }

  .information__title {
    max-width: 200px;
  }

  .meet-team__wrapper {
    position: static;
    max-width: 510px;
    border-radius: 3%;
  }

  /* NEXT LVL */
  .next-lvl {
    margin-top: 90px;
    box-shadow: 0 0 25px #000000b8;
  }

  .next-lvl__bg {
    min-height: 1300px;
  }

  .position-abs {
    top: 0;
    left: 0;
    padding: 0 15px;
    transform: none;
  }

  .next-lvl__wrapper-info {
    display: none;
  }

  #subscriptions {
    padding-top: 90px;
  }

  .subscr__title {
    margin-bottom: 60px;
    font-size: 2.7rem;
  }

  .acceses {
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 35px;
  }
  /* TYPES */
  .types {
    flex-direction: column;
    align-items: center;
  }

  .types__review-wrapper {
    margin: 45px auto 10px;
    padding: 30px;
    background-color: transparent;
  }

  .small-btn {
    right: 0px;
  }

  .types__kind-of-photographer {
    background: #fff;
  }

  .kind-of-photographer__header {
    max-width: none;
    font-size: 1.6rem;
  }

  .accordion {
    max-width: none;
  }

  /* RESOURCES  */
  #resources {
    padding: 80px 0;
  }

  .resources__example-wrapper {
    flex-wrap: wrap;
  }

  .resources__example {
    margin: 0 3px 20px 0;
  }

  /* FOOTER */
  .footer {
    padding: 80px 0 50px;
  }

  .footer-flex {
    justify-content: center;
  }

  .first-item > p {
    display: none;
  }

  .footer__copyright {
    justify-content: center;
    margin-top: 40px;
    font-size: 0.75rem;
  }

  .footer__item {
    margin: 0 0 25px 40px;
  }

  .first-item {
    margin-left: 0;
  }
}

@media screen and (max-width: 790px) {
  .photos__right div:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .resources-search {
    margin: 40px auto;
  }

  .resources__header-inf {
    margin-bottom: -5px;
    font-size: 1.2rem;
  }

  .resources__header {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 665px) {
  .header-adaptive__container {
    padding: 0 10px;
  }
  /* title */
  .title-screen {
    padding: 160px 0 130px;
  }

  .title-screen__description {
    padding-bottom: 70px;
  }

  .title-screen__buttons {
    align-items: stretch;
    font-size: 0.9rem;
  }

  .buttons__colored-btn > small,
  .buttons__colorless-btn > small {
    display: block;
  }

  .description__heading {
    font-size: 2.8rem;
    line-height: 60px;
  }

  /* help*/
  .meet-team__wrapper {
    min-height: 300px;
    padding: 30px 20px;
  }

  /* ------ */
  .left__wrapper-img {
    max-width: 450px;
  }

  .left__wrapper-img > img {
    max-width: 380px;
  }

  .left__post {
    max-width: 290px;
    padding: 0 10px;
  }

  .left__post-description > h3 {
    padding: 15px 0 15px;
    font-size: 1.5rem;
  }

  .third-post__title {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  /*  */
  .next-lvl__bg {
    min-height: 1650px;
  }

  .access {
    margin: 15px;
    padding: 38px 30px;
  }

  .access__price {
    font-size: 2.5rem;
  }

  .access__btn {
    margin: 20px 0;
  }

  .subscr__notice-title {
    font-size: 0.8rem;
  }

  .subscr__notice {
    margin-right: 10px;
  }

  /* ---- */
  .review__photo {
    max-width: 320px;
  }

  .types__review-header {
    margin-bottom: 40px;
  }

  .types__review {
    top: 310px;
    padding: 15px;
    max-width: 225px;
    font-size: 0.75rem;
  }

  .types-btn {
    top: 400px;
  }

  .resources-search {
    width: 100%;
  }
}

@media screen and (max-width: 415px) {
  .header-adaptive__container {
    min-height: 58px;
  }

  .header-adaptive__logo {
    height: 40px;
    width: 40px;
  }

  .header-adaptive__icon {
    width: 36px;
  }

  .title-screen {
    padding: 155px 0 110px;
  }

  .title-screen__description {
    padding-bottom: 65px;
  }

  .description__heading {
    font-size: 2.7rem;
    line-height: 55px;
  }

  .description__text {
    font-size: 0.9rem;
  }

  .buttons__colored-btn,
  .buttons__colorless-btn {
    padding: 8px 10px;
  }

  .buttons__colored-btn > small,
  .buttons__colorless-btn > small {
    display: none;
  }

  .help {
    padding: 70px 0 0;
  }

  .information__title {
    margin-right: 40px;
    max-width: 120px;
  }

  .meet-team__wrapper {
    min-height: 225px;
    padding: 30px 25px;
  }

  .meet-team__inf-title {
    margin-bottom: 20px;
    font-size: 1.4rem;
  }

  .meet-team__inf-description {
    font-size: 0.8rem;
  }

  .meet-team__squad-photo {
    display: none;
  }

  .meet-team__squad .small-btn {
    position: static;
  }

  .blog__title {
    padding-bottom: 35px;
    font-size: 2.2rem;
  }

  .left__post {
    max-width: 260px;
    padding: 0px 5px;
  }

  .post-writer__photo {
    display: none;
  }

  .left__post-info {
    margin-left: 0;
  }

  .left__post-description > h3 {
    padding: 9px 0;
    font-size: 1.1rem;
  }

  .post-writer__name,
  .left__post-description > p {
    font-size: 0.8rem;
  }

  .second-post__img {
    width: 100%;
  }

  .second-post__info {
    padding-top: 10px;
  }

  .second-post__title {
    font-size: 0.95rem;
  }

  .right__third-post {
    padding: 40px 25px 35px;
    background-color: #242060;
    background-image: none;
  }

  .next-lvl__bg {
    min-height: 1560px;
  }

  /* sub */
  #subscriptions {
    padding-top: 65px;
  }

  .subscr__title {
    margin-bottom: 35px;
    font-size: 2.1rem;
  }

  .access {
    margin: 15px auto;
    padding: 30px 25px;
    max-width: 255px;
  }

  .access__btn {
    margin: 15px 0;
  }

  .subscr__notice-desc {
    font-size: 0.65rem;
  }

  /* request */
  .types__review-wrapper {
    padding: 30px 15px;
    margin: 25px auto 15px;
  }

  .types__review-header {
    margin-bottom: 30px;
    font-size: 1.6rem;
  }

  .review__photo {
    max-width: 250px;
  }

  .types__review {
    top: 200px;
    padding: 10px;
    max-width: 205px;
  }

  .review-text {
    margin: 10px auto;
  }

  .types-btn {
    top: 88%;
    right: 0;
    padding: 10px 7px;
  }

  .types__kind-of-photographer {
    padding: 45px 25px 35px;
  }

  .resources-search__btn {
    padding: 12px 30px;
  }

  .kind-of-photographer__header {
    font-size: 1.4rem;
  }

  #resources {
    padding: 70px 0;
  }

  .footer > .container {
    padding: 0px 30px;
  }

  .footer-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__item {
    margin: 0 0 20px;
  }

  .footer {
    padding: 60px 0 30px;
  }
}
