@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  cursor: default;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
}

main {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1100px;
  width: 100%;
}

.header-adaptive {
  display: none;
}

/* Header */

.header {
  display: block;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 100;
  border-bottom: 1px solid #0000001e;
  opacity: 0;
  transform: translate(0, -50px);
  transition: all 0.5s ease 0s;
  box-shadow: 1px 1px 15px 0px #80808057;
}

.header.scroll {
  opacity: 1;
  transform: translate(0, 0);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav__list {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.nav__list-link {
  padding-left: 20px;
  font-size: 0.8rem;
  color: #000000de;
  transition: 0.4s;
}

.nav__list-item {
  position: relative;
}

.nav__list-item:not(:first-child)::before {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 10px;
  width: 0px;
  height: 1px;
  background-color: #f55f39;
  transition: 0.4s;
}

.nav__list-item:hover::before {
  width: 100%;
}

.nav__list-item:hover .nav__list-link {
  color: #f55f39;
}

.logo {
  position: absolute;
  top: 0;
  left: 43%;
  padding: 0 20px;
  background: #f55f39;
}

.logo__img {
  height: 85px;
}

/* Search */
.search-box {
  position: relative;
  height: 50px;
  width: 50px;
  margin-right: 35px;
  transition: all 0.5s cubic-bezier(0.7, -0.55, 0.265, 1.55);
}

.search-box.active {
  width: 300px;
}

.search-box .search-box__input {
  width: 100%;
  height: 100%;
  padding: 0 60px 0 20px;
  background-color: #fff;
  border: 1px solid #b8bdc9;
  border-radius: 50px;
  outline: none;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.7, -0.55, 0.265, 1.55);
}

.search-box .search-box__input.active {
  opacity: 1;
}

.search-box .search-box__btn-wrapper {
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: 1;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  font-size: 20px;
  color: #252062;
  outline: none;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.7, -0.55, 0.265, 1.55);
}

.search-box .search-box__btn-wrapper.active {
  right: 3px;
  transform: translateY(-50%) rotate(360deg);
  width: 44px;
  height: 44px;
  background: #2bca8b;
  color: #fff;
  line-height: 44px;
  font-size: 18px;
}

.search-box .search-box__btn-wrapper__cancel {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #252062;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s 0.1s cubic-bezier(0.7, -0.55, 0.265, 1.55);
  opacity: 0;
}

.search-box .search-box__btn-wrapper__cancel.active {
  right: -30px;
  opacity: 1;
  transform: translateY(-50%) rotate(360deg);
}

/* Title screen */
.title-screen {
  background-image: url(../img/title-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  padding: 180px 0 190px;
  height: 100vh;
}

.title-screen__description {
  padding-bottom: 85px;
  max-width: 560px;
  width: 100%;
}

.description__heading {
  font-size: 3rem;
  line-height: 70px;
  color: #252525;
  opacity: 0;
  transition: all 0.8s ease 0s;
  transform: translate(-100vh, 0);
}

.description__heading.scroll {
  opacity: 1;
  transform: translate(0px, 0px);
}

.description__text {
  opacity: 0;
  transform: translate(-100vh, 0);
  transition: all 0.8s ease 0s;
}

.description__text.scroll {
  opacity: 1;
  transform: translate(0px, 0px);
}

.green-underline {
  border-bottom: 3px solid #2bca8b;
  color: #2bca8b;
}

.title-screen__buttons {
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translate(-100vh, 0);
  transition: all 0.7s ease 0s;
}

.title-screen__buttons.scroll {
  opacity: 1;
  transform: translate(0px, 0px);
}

.buttons__colored-btn,
.buttons__colorless-btn {
  padding: 8px 28px;
  max-width: 210px;
  text-align: center;
  cursor: pointer;
}

.buttons__colorless-btn {
  background: #dedede;
}

.buttons__colored-btn {
  margin-right: 15px;
  background-color: #f55f39;
  color: #fff;
}

.title-screen__buttons > a {
  position: relative;
  transition: 0.4s all ease;
  overflow: hidden;
  z-index: 1;
}

.title-screen__buttons > a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 70%;
  right: 70%;
  bottom: 0;
  transition: 0.8s all ease;
  background-color: #2bca8b;
  opacity: 0;
}

.title-screen__buttons > a:hover::before {
  right: 0;
  left: 0;
  background-color: #2bca8b;
  box-shadow: 0 0 15px rgb(104, 104, 104);
  opacity: 1;
  z-index: -1;
}

.title-screen__buttons > a:hover {
  box-shadow: 0 0 15px rgb(104, 104, 104);
  color: #fff;
}

/* Help */
.help {
  min-height: 250px;
  padding-top: 50px;
}

.help > .container {
  position: relative;
}

.help__information {
  display: flex;
  align-items: center;
  max-width: 540px;
}

.information__title {
  text-align: left;
  margin-right: 70px;
  max-width: 125px;
  width: 100%;
  font-size: 1.8rem;
  color: #2bca8b;
}

.information__list-item > a {
  color: #252061;
  font-size: 1rem;
  transition: all 0.3s;
}

.information__list-item > a:hover {
  color: #f55f39;
}

.information__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.meet-team__wrapper {
  position: absolute;
  top: -100px;
  right: -195px;
  max-width: 605px;
  min-height: 305px;
  width: 100%;
  padding: 40px 60px;
  background-image: url(../img/purple-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 7px 7px 50px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transform: translate(100%, 0);
  transition: ease 0.3s;
}

.meet-team__wrapper.scroll {
  transform: translate(0, 0);
  transition: all 0.8s ease 0s;
  opacity: 1;
}

.meet-team {
  position: relative;
}

.meet-team__inf-title {
  margin-bottom: 25px;
  font-size: 1.5rem;
  color: #fff;
}

.meet-team__inf-description {
  max-width: 305px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  color: #fff;
}

.meet-team__squad-photo {
  display: block;
  position: absolute;
  top: 110px;
  left: -35px;
  z-index: 1;
}

.meet-team__squad-photo:nth-child(2) {
  top: 125px;
  left: 20px;
  z-index: 2;
}

.meet-team__squad-photo:nth-child(3) {
  left: 80px;
}

.small-btn {
  position: absolute;
  top: 160px;
  right: 185px;
  padding: 12px 15px;
  background: #2bca8b;
  box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  z-index: 2;
}

.small-btn:hover {
  background: #f55f39;
}

/* BLOG */
#blog {
  padding-top: 90px;
}

.blog__title {
  max-width: 470px;
  width: 100%;
  padding-bottom: 70px;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 49px;
  color: #444444;
}

.blog__title > a {
  border-bottom: 3px solid #f55f39;
  color: #f55f39;
}

.blog__photos {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Left-post */
.photos__left {
  position: relative;
}

.left__post {
  position: absolute;
  bottom: -45px;
  left: -1px;
  max-width: 430px;
  width: 100%;
  background-color: #fff;
}

.left__post-description > h3 {
  padding: 28px 0 15px;
  max-width: 315px;
  font-size: 2rem;
  color: #252061;
}

.left__post-description > p {
  margin-bottom: 15px;
  max-width: 375px;
  font-size: 0.9rem;
  color: #969696;
}

.left__post-writer {
  display: flex;
}

.left__post-info {
  margin-left: 10px;
}

.post-writer__name {
  font-size: 0.9rem;
  color: #252061;
}

.post-writer__date {
  font-size: 0.8rem;
  color: #252061;
}
/*Right posts */
.photos__right div:not(:last-child) {
  margin-bottom: 30px;
}

/* second post */
.right__second-post {
  position: relative;
}

.second-post__info {
  position: absolute;
  bottom: 0;
  left: -1px;
  padding: 15px 5px 5px;
  max-width: 253px;
  background: #fff;
}

.second-post__date {
  font-size: 0.8rem;
  color: #929292;
}

.second-post__title {
  font-size: 1.1rem;
  color: #252061;
}
/* Third post */
.right__third-post {
  padding: 45px 60px 40px;
  max-width: 377px;
  background-image: url(../img/purple-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.third-post__info {
  color: #fff;
  font-size: 0.9rem;
}

.third-post__title {
  margin-bottom: 22px;
  font-size: 1.8rem;
}

.third-post__description {
  margin-bottom: 20px;
}

.third-post__link {
  color: #f55f39;
}

/* NEXT LVL */
.next-lvl {
  margin-top: 450px;
}

.next-lvl__bg {
  position: relative;
  background-image: url(../img/purple-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1130px;
}

.position-abs {
  position: absolute;
  top: -400px;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
}

.next-lvl__wrapper-info {
  min-height: 620px;
  max-width: 1075px;
  background-image: url(../img/photographer.png);
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
}

.next-lvl__info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 35px 40px 50px 50px;
  background-color: #352f77;
  color: #fff;
}

.btn-flex {
  display: flex;
  align-items: center;
  padding: 8px 0 5px;
  transition: all 0.5s ease;
}

.btn-flex:hover {
  background-color: #f55f39;
}

.next-lvl__title {
  margin-bottom: 22px;
  max-width: 415px;
  font-weight: 300;
  font-size: 2.6rem;
  line-height: 60px;
}

.next-lvl__text {
  margin-bottom: 40px;
  max-width: 415px;
  font-weight: 200;
  font-size: 0.9rem;
}

/* btn  */
.btn-flex__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.next-lvl__btn-img {
  padding: 0 23px;
}

.next-lvl__btn-img > img {
  width: 25px;
}

.next-lvl__btn-title {
  font-size: 1.5rem;
}

.next-lvl__btn-description {
  font-size: 0.9rem;
  font-weight: 300;
}

.next-lvl__btn {
  display: block;
  max-width: 355px;
  color: #fff;
  background: #2bca8b;
}

/* subscriptions */
#subscriptions {
  text-align: center;
  padding-top: 80px;
}

.subscr__title {
  margin-bottom: 60px;
  font-size: 3rem;
  color: #fff;
}

.acceses {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  height: 460px;
}

/* ACCESS */

.access {
  margin: 15px;
  text-align: left;
  max-width: 287px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transform: translate(0, 100%) scale(1);
  transition: all 0.3s ease 0s;
}

.access__name {
  font-size: 0.95rem;
  font-weight: 300;
  color: #183eb6;
}

.access__price {
  margin-bottom: 15px;
  font-size: 3.2rem;
}

.access__price > small {
  font-size: 14px;
}

.access__properties-item {
  display: flex;
  align-items: flex-start;
}

.properties__name {
  padding: 0 0 10px 15px;
  font-size: 0.8rem;
}

.access__btn {
  margin: 23px 0;
  padding: 12px 20px;
  background-color: #2bca8b;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.access__notice {
  font-size: 0.65rem;
  color: #9da0ac;
}

.access__btn:hover {
  background-color: #f55f39;
}

/* notice */

.notis-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.subscr__notice {
  max-width: 480px;
  color: rgba(255, 255, 255, 0.795);
  text-align: left;
}

.subscr__notice-title {
  display: inline-flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 1.3rem;
}

.subscr__notice-title > img {
  margin-right: 10px;
}

.subscr__notice-desc {
  font-size: 0.7rem;
}

.subscr__notice-link {
  display: block;
  font-size: 0.8rem;
  color: #ffffffcc;
  word-break: keep-all;
}

/* TYPES---------- */

.types {
  display: flex;
  justify-content: center;
}

.types-flex {
  display: flex;
  justify-content: center;
}

.types__review-wrapper {
  position: relative;
  padding: 50px 50px 50px 95px;
  margin-top: -70px;
  background-color: #fff;
}

.types__review-picture {
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.5s ease;
}

.types__review {
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.8s ease;
}

.types__review-picture.scroll,
.types__review.scroll {
  opacity: 1;
  transform: translate(0, 0);
}

.types__review-header {
  margin-bottom: 50px;
  font-size: 1.7rem;
  color: #444444;
}

.review__photo {
  display: block;
  box-shadow: 10px 9px 20px #0000004f;
}

.types__review {
  position: absolute;
  top: 430px;
  left: 0px;
  padding: 30px;
  text-align: left;
  max-width: 275px;
  background: #fff;
  box-shadow: 10px 9px 20px #0000004f;
  font-size: 0.85rem;
  color: #524b9a;
}

.review-quoter {
  font-size: 1.1rem;
}

.review-text {
  margin: 18px auto;
  color: #050505;
}

.types-btn {
  top: 615px;
  right: 30px;
  padding: 12px 22px;
}

/* ----- */
.types__kind-of-photographer {
  padding: 50px 55px 30px;
  width: 50%;
  background: #f0f0f0;
  max-width: 720px;
  width: 100%;
}

.kind-of-photographer__header {
  max-width: 350px;
  margin-bottom: 45px;
  font-size: 1.7rem;
}
/* Accordion */
.accordion {
  max-width: 350px;
}

.accordion-item {
  border-bottom: 1px solid #dadada;
  padding: 20px 15px;
}

.accordion-item:first-child {
  border-top: 1px solid #dadada;
}

.accorgion-item__title {
  display: block;
  position: relative;
  padding-bottom: 10px;
  font-size: 1.2rem;
  color: #524b9a;
  cursor: pointer;
}

.accorgion-item__title::before,
.accorgion-item__title::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 13px;
  height: 13px;
  transition: 0.5s;
}

.accorgion-item__title::before {
  transform: rotate(-135deg);
  border: 1px solid;
  border-color: #363636 transparent transparent transparent;
}

.accorgion-item__title::after {
  transform: rotate(135deg);
  border: 1px solid;
  border-color: #363636 transparent transparent transparent;
}

.accorgion-item__toggle {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.accorgion-item__hidden-text {
  display: none;
  font-size: 0.9rem;
  font-weight: 300;
  color: #363636;
}

.accorgion-item__toggle:checked ~ .accorgion-item__hidden-text {
  display: block;
}

.accorgion-item__toggle:checked ~ .accorgion-item__title::before {
  transform: rotate(315deg);
  top: 11px;
  width: 20px;
}

.accorgion-item__toggle:checked ~ .accorgion-item__title::after {
  transform: rotate(-315deg);
  top: 11px;
  right: 10px;
  width: 20px;
}

.kind-of-photographer__link {
  display: block;
  margin-top: 35px;
  padding-left: 10px;
  color: #f55f39;
  font-size: 15px;
}

/* RESOURCES------ */

#resources {
  padding: 100px 0;
  text-align: center;
}

.resources__header-inf {
  margin-bottom: -10px;
  font-size: 1.5rem;
  color: #444444;
}

.resources__header {
  font-size: 3.3rem;
  color: #444444;
}

.resources-search {
  position: relative;
  margin: 60px auto;
  width: 420px;
}

.resources-search > input {
  width: 100%;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 9px;
  padding: 11px 120px 11px 40px;
  border: 1px solid #b8bdc9;
  border-radius: 3px 0px 0px 3px;
  outline: none;
  cursor: pointer;
}

.resources-search > input::placeholder {
  color: #b8bdc9;
}

.resources-search__btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 40px;
  border-radius: 0px 3px 3px 0px;
  border: none;
  background-color: #2bca8b;
  color: white;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

.resources-search__btn:hover {
  background-color: #f55f39;
}

/* exaple */
.resources__example-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.resources__example {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  border: 2px solid #eef1f6;
  opacity: 0;
  transform: translate(0, 100%);
  transition: all 0.3s ease 0s;
}

.acceses.scroll .access:nth-child(1),
.resources__example-wrapper.scroll .resources__example:nth-child(1) {
  transition: all 0.6s ease 0s;
}

.acceses.scroll .access:nth-child(2),
.resources__example-wrapper.scroll .resources__example:nth-child(2) {
  transition: all 0.6s ease 0.2s;
}

.acceses.scroll .access:nth-child(3),
.resources__example-wrapper.scroll .resources__example:nth-child(3) {
  transition: all 0.6s ease 0.4s;
}

.acceses.scroll .access,
.resources__example-wrapper.scroll .resources__example {
  transform: translate(0, 0);
  opacity: 1;
}

.acceses.scroll .access:hover {
  transform: scale(1.05);
  background-color: rgb(255, 255, 255);
}

.resourse__example-top {
  padding: 30px;
}

.example__header {
  margin-bottom: 15px;
  font-size: 1.1rem;
  color: #252061;
}

.example__list-item {
  display: flex;
  margin-bottom: 8px;
}

.example__list-item > a {
  font-size: 0.8rem;
  color: #f55f39;
}

.example__list-item > img {
  margin-right: 10px;
}

.example__link {
  display: block;
  padding: 15px 30px;
  background-color: #eef1f6;
  font-size: 12px;
  border: 2px solid #eef1f6;
}

.example__link {
  transition: ease-in 0.2s;
}

.example__link:hover {
  color: #21b177;
}

/* footer */

.footer {
  padding: 80px 0 50px;
  background-color: #1c1842;
}

.footer-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffffff;
}

.first-item {
  max-width: 300px;
}

.first-item > p {
  color: #fffc;
  margin-top: 20px;
  font-size: 0.95rem;
}

.item__header {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.item__list > li {
  margin-bottom: 7px;
}

.item__list > li > a {
  font-size: 0.8rem;
  color: #aba8ca;
}

.footer__copyright {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.copyright__text {
  margin-right: 1rem;
  color: rgba(255, 255, 255, 0.651);
}

.copyright__color-text {
  color: #f55f39;
}
